body
{
	background: #C22EFF;
	text-align: center;
}

h1
{
	font: arial;
	text-align: center;
}

#form
{
	margin: 0 auto 0 auto;
	width: 50%;
	text-align: left;
	padding: 40px;
}

.shadow_box
{
	padding: 20px;
	margin: 30px;
	border: 1px solid #696969;
	border-radius: 15px;
	background: #fff;
	display: block;
	box-shadow: 5px 5px 10px 5px;
}

#form input[type=password] {
	margin: 10px;
	width: 100%;
	padding: 3px;
	border-radius: 15px;
	border: solid black 3px;
}

input[type=submit] {
	margin: 10px 0px 0px 0px;
	padding: 8px;
	border: solid black 3px;
	border-radius: 15px;
	float: right;
	background: #C22EFF;
	color: #ffffff;
}

input[type=submit]:hover {
	background: #9009C8;
}

#footer
{
	margin: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

#config
{
	margin: 0 auto 0 auto;
	width: 50%;
	text-align: left;
	padding: 60px;
}

#config fieldset {
	border-radius: 15px;
	border: 1px dashed #aaa;
	margin: 0px 0px 10px 0px;
	padding: 5px;
}

#config input, #config select {
	float: right;
	border-radius: 15px;
	padding: 0px 5px 0px 5px;
}

#config input[type=text] {
	width: 250px;
}

#config input[type=submit] {
	margin: 10px 0px 0px 0px;
	padding: 8px;
	border: solid black 3px;
	border-radius: 15px;
	float: right;
	background: #C22EFF;
	color: #ffffff;
}

#config input[type=submit]:hover {
	background: #9009C8;
}

#menu {
	width: 80%;
	margin: 0 auto 20px auto;
}

#menu a {
	font-weight: bolder;
	border: solid black 3px;
	border-radius: 15px;
	background: #C22EFF;
	color: #ffffff;
	padding: 8px;
	text-decoration: none;
}

#menu a:hover {
	background: #9009C8;
}

#menu a.logout {
	color: #C22EFF;
	background: #ffffff;
}

#menu a.logout:hover {
	background: #dddddd;
}

#message {
	padding: 0px;
	padding-left: 20px;
}

#message p {
	text-align: left;
	color: #ff0000;
	font-weight: bolder;
}